# Build files
bin/
obj/
out/

# Visual Studio Code settings
.vscode/
.vs/
*.code-workspace

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/

# User-specific files
*.user
*.suo

# JetBrains Rider / Resharper
.idea/
_ReSharper.Caches/

# NuGet packages
packages/
*.nupkg
project.lock.json

# Logs, Debug & Cache files
*.log
*.tlog
*.ilk
*.tmp
*.cache
*.bak
*.swp

# Publish output
publish/

# Environment files
.env
secrets.json

# Coverage & Testing files
TestResults/
coverage/

# Ignore Visual Studio solution files
*.sln


# ASP.NET MVC specific files
App_Data/
App_Start/
Views/Web.config
Views/Web.Debug.config
Views/Web.Release.config

# Temporary ASP.NET files
Temporary ASP.NET Files/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Bundles
*.bundle
*.min.js
*.min.css
